{% extends 'index.html' %}

{% block content %}

    <div class="top_bottom center">
        <a class="top_bottom_buttons button1" href="#">
            <p class="top_bottom_text">30% OFF</p>
            <h3 class="top_bottom_title">FOR WOMEN</h3>
        </a>
        <a class="top_bottom_buttons button2" href="#">
            <p class="top_bottom_text">HOT DEAL</p>
            <h3 class="top_bottom_title">FOR MEN</h3>
        </a>
        <a class="top_bottom_buttons button3" href="#">
            <p class="top_bottom_text">NEW ARRIVALS</p>
            <h3 class="top_bottom_title">FOR KIDS</h3>
        </a>
        <a class="top_bottom_buttons button4" href="#">
            <p class="top_bottom_text">LUXIROUS &amp;&nbsp;TRENDY</p>
            <h3 class="top_bottom_title">ACCESORIES</h3>
        </a>
    </div>

{% endblock %}